body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  user-select: none;
}

aside {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px;
}

#game-area {
  position: relative;
}

.entity {
  position: absolute;
}

.entity[data-class=player] {
  z-index: 10;
  transform-origin: center;
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
}

.entity[data-class=solid-block] {
  background-color: #000;
}